name: tests-owners

on:
  push:
    paths: 
      - 'owners/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: cd owners && npm install && npm run test
